<div class="nested-fields">
  <%= f.input :value, label: false, input_html: { size: 50, maxlength: 50 }, wrapper_html: { class: 'form_field_option__input' } %>
  <%= link_to_remove_association 'Remove option', f %>
</div>